.splash-layout {
  display: flex;
  flex-direction: column;
}

.splash-layout header {
  height: 70%;
}

.splash-header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.splash-header h1 {
  font-family: "Unica One";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 113px;
}

.splash-header h3 {
  font-family: "Brush Script MT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.splash-header *:first-child {
  position: absolute;
  width: 251px;
  height: 94px;
  left: 96px;
  top: 70px;

  transform: rotate(-15.12deg);
}

.splash-header *:nth-child(2) {
  position: absolute;
  width: 251px;
  height: 94px;
  left: 86px;
  top: 180px;

  transform: rotate(-20.59deg);
}

.splash-header *:nth-child(3) {
  text-align: center;
}

.splash-prompt {
  display: flex;
  flex-direction: column;

  padding: 1em 5em;
}

.splash-prompt button {
  margin: 1em 4em;
}
